:root {
    --brown: #544B3D;
    --white: #FFF;
    --emerald: #70B77E;
    --red: #FF6663;
    --amethyst: #0D0630;
}

body {
    color: var(--amethyst);
    font-style: oblique;
    font-family: Andale Mono, monospace;
    background-image: url(stupidimages/Background.png);
    background-size: auto 100vh;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
}

#bigArrange {
    display: flex;
    justify-content: space-between;
}

#story {
    background-color: #ffffff7c;
    padding: 7px;
}

#section1 {
    width: 75vw;
    height: 95vh;
    border: 1px solid var(--red);
    padding: 5px;
}

#inventory {
    background-color: var(--brown);
    height: 95vh;
    width: 15vw;
}

nav {
    height: 5vh;
    background-color: var(--emerald);
}

#stats {
    background-color: #ffffffad ;
}

#log {
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 10px;
    border-radius: 20px;
    width: 200px;
    height: 55px;
    font-size: 25px;
}
.btn-arrangement {
    display: flex;
}
.btnArrangement button {
    background-color: var(--amethyst);
    color: var(--white);
    padding: 3px 5px;
    margin: 5px 5px;
    border-radius: 20px;
}

.btnArrangement button:hover {
    background-color: var(--white);
    color: var(--amethyst);
    border: 1px solid var(--amethyst);
    cursor: crosshair;
}