:root {
    --brown: #544B3D;
    --white: #FFF;
    --emerald: #70B77E;
    --red: #FF6663;
    --amethyst: #0D0630;
}

body {
    color: var(--amethyst);
    font-style: oblique;
    font-family: Andale Mono, monospace;
    background-image: url(stupidimages/Background.png);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}



#ancientNews {
    height: 0vh;
    overflow: hidden;
    /* KILLS OFF the EVIL stuff that hides */
}

#section1 {
    width: 80vw;
    height: 100%;
    border: 1px solid var(--red);
    padding: 5px;
}

#inventory {
    background-color: var(--brown);
    width: 20%;
}

nav {
    height: 10vw;
    background-color: var(--emerald);
}

#stats {
    background-color: #ffffffad ;
}

.btn-arrangement {
    display: flex;
}
.btnArrangement button {
    background-color: var(--amethyst);
    color: var(--white);
    padding: 3px 5px;
    margin: 5px 5px;
    border-radius: 20px;
}

.btnArrangement button:hover {
    background-color: var(--white);
    color: var(--amethyst);
    border: 1px solid var(--amethyst);
    cursor: crosshair;
}



.active {
    visibility: visible;
    width: 80%;
    justify-self: center;
    background-color: #ffffff55;
}